@font-face {
	font-family: "Grand9K Pixel";
	src: url("Grand9K_Pixel.ttf");
}

@font-face {
	font-family: "Pixellari";
	src: url("Pixellari.ttf");
}

@font-face {
	font-family: "Space Mono";
	src: url("SpaceMono.ttf");
}

@font-face {
	font-family: "Spess Font";
	src: url("SpessFont.ttf");
}

@font-face {
	font-family: "Tiny Unicode";
	src: url("TinyUnicode.ttf");
}

@font-face {
	font-family: "VCR OSD Mono";
	src: url("VCR_OSD_MONO.ttf");
}
